script: rake ci
sudo: false
language: ruby

rvm:
  - rbx-2
  - jruby
  - 2.2.2
  - 2.2.0
  - 2.1.4
  - 2.0.0
  - ruby-head
  - jruby-head

matrix:
  fast_finish: true
  allow_failures:
    - rvm: ruby-head
    - rvm: jruby-head

env:
  global:
    - NUMBER_OF_PROCESSORS=4 CELLULOID_CONFIG_FILE=.env-ci
  matrix:
    - CELLULOID_LEAKTEST=1
    - CELLULOID_TASK_CLASS=Threaded

notifications:
  irc: "irc.freenode.org#celluloid"

before_install:
  # Only use 1 job until Travis fixes the rbx --jobs issue.
  - if [ "$TRAVIS_RUBY_VERSION" == "rbx-2" ] ; then export BUNDLE_JOBS=1 ; else export BUNDLE_JOBS=4; fi


install: bundle install --without=development
