script: rake ci
language: ruby
rvm:
  - 2.2.0
  - jruby
  - ruby-head
  - jruby-head
  - rbx-2

matrix:
  allow_failures:
    - rvm: rbx-2
    - rvm: ruby-head
    - rvm: jruby-head
    - env: CELLULOID_TASK_CLASS=Threaded
    - env: CELLULOID_TASK_CLASS=Threaded CELLULOID_GROUP_CLASS=Pool
env:
  global:
    - NUMBER_OF_PROCESSORS=2 CELLULOID_BYPASS_FLAKY=false
  matrix:
    - CELLULOID_TASK_CLASS=Fibered
    - CELLULOID_TASK_CLASS=Threaded
    - CELLULOID_TASK_CLASS=Threaded CELLULOID_GROUP_CLASS=Pool

notifications:
  irc: "irc.freenode.org#celluloid"

before_install:
  # Only use 1 job until Travis fixes the rbx --jobs issue.
  - if [ "$TRAVIS_RUBY_VERSION" == "rbx-2" ] ; then export BUNDLE_JOBS=1 ; else export BUNDLE_JOBS=4; fi

sudo: false
install: bundle install --retry=3 --without=development
